.wrapper {
  margin-top: 10rem;
  margin-bottom: 10rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  grid-gap: 1rem;

  @media (min-width: 320px) and (max-width: 767px) {
    grid-gap: 1.5rem;

    & > .card {
      &:first-of-type {
        display: none;
      }
  
      &:nth-of-type(2) {
        grid-row: 1 / 2;
        grid-column: 1 / 13;
      }
  
      &:nth-of-type(3) {
        grid-row: 2 / 3;
        grid-column: 1 / 13;
      }
  
      &:nth-of-type(4) {
        grid-row: 3 / 4;
        grid-column: 1 / 13;
      }
  
      &:nth-of-type(5) {
        grid-row: 4 / 5;
        grid-column: 1 / 13;
      }
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {
    & > .card {
      & > h2,
      & > p,
      & > .container {
        margin-left: 0.625rem;
        margin-right: 0.625rem;
      }

      &:first-of-type {
        grid-row: 1 / 2;
        grid-column: 1 / 7;
      }
  
      &:nth-of-type(2) {
        grid-row: 1 / 2;
        grid-column: 7 / 13;
      }
  
      &:nth-of-type(3) {
        grid-row: 2 / 3;
        grid-column: 1 / 5;
      }
  
      &:nth-of-type(4) {
        grid-row: 2 / 3;
        grid-column: 5 / 9;
      }
  
      &:nth-of-type(5) {
        grid-row: 2 / 3;
        grid-column: 9 / 13;
      }
    }
  }

  @media (min-width: 992px) {
    & > .card {
      & > h2,
      & > p,
      & > .container {
        margin-left: 0.625rem;
        margin-right: 0.625rem;
      }

      &:first-of-type {
        grid-row: 1 / 2;
        grid-column: 1 / 8;
      }
  
      &:nth-of-type(2) {
        grid-row: 1 / 2;
        grid-column: 8 / 13;
      }
  
      &:nth-of-type(3) {
        grid-row: 2 / 3;
        grid-column: 1 / 4;
      }
  
      &:nth-of-type(4) {
        grid-row: 2 / 3;
        grid-column: 4 / 7;
      }
  
      &:nth-of-type(5) {
        grid-row: 2 / 3;
        grid-column: 7 / 10;
      }
  
      &:nth-of-type(6) {
        grid-row: 2 / 3;
        grid-column: 10 / 13;
      }
    }
  }

  & > .card {
    text-decoration: none;
    color: rgb(var(--foreground));
    font-size: 1rem;

    &:hover {
      & > .constrain > img {
        transform: scale(1.08);
      }
    }

    & > .constrain {
      width: 100%;
      height: auto;
      aspect-ratio: 4 / 3;
      overflow: hidden;

      &:not(:last-child) {
        margin-bottom: 1.25em;
      }

      border-radius: 0.25rem;
      position: relative;

      & > img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0%;
        bottom: 0%;
        left: 0%;
        right: 0%;
        object-fit: cover;
        transition: var(--transition-background);
      }
    }

    & > h2 {
      font-size: 1.5em;
      margin-bottom: 0.3125em;
    }

    & > p {
      font-size: 1em;
      margin-bottom: 1.25em;
    }
  }
}