.wrapper {
  margin-top: 10rem;
  margin-bottom: 10rem;

  & h2 {
    font-size: 1.375rem;
    font-weight: 500;
  }

  & p {
    height: calc((0.875rem * 1.5) * 4);
    font-size: 0.875rem;
    font-weight: 400;
  }

  & > table.packages {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;

    & > tbody {
      overflow-x: auto;
    }

    & > tbody > tr {
      text-align: left;
      vertical-align: middle;

      &:first-of-type {
        vertical-align: top;

        & > td {
          border-top: 1px solid rgb(var(--N-500), 0.8);
          border-left: 1px solid rgb(var(--N-500), 0.8);
          border-right: 1px solid rgb(var(--N-500), 0.8);
          padding: 2.875rem 1rem 1.5rem;

          & > .priceTag {
            margin-bottom: 2rem;
            display: flex;
            flex-direction: row;
            font-size: 2.125rem;
            font-weight: 500;

            & > .currency {
              margin-top: 0.625rem;
              margin-right: 0.125rem;
              font-size: 0.75rem;
            }
          }

          & > a {
            width: 100%;
          }
        }
      }

      & > th {
        padding: 0.75rem 1rem;
        font-size: 0.875rem;
        font-weight: 500;
      }

      &:not(:first-of-type) {
        & > td {
          border-left: 1px solid rgb(var(--N-500), 0.8);
          border-right: 1px solid rgb(var(--N-500), 0.8);
          padding: 0.75rem 1rem;
          font-size: 0.875rem;

          & > svg {
            width: 1.375rem;
            height: 1.375rem;
          }
        }
      }

      &:last-of-type > td {
        border-bottom: 1px solid rgb(var(--N-500), 0.8);
      }

      &:nth-child(2n) > th,
      &:nth-child(2n) > td {
        background: rgb(var(--N-500), 0.1);
      }
    }
  }
}