.wrapper {
  margin-top: 10rem;
  margin-bottom: 10rem;

  @media (min-width: 320px) and (max-width: 767px) {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2.5rem;
  }

  & > article.mobileCard {
    border-radius: 0.25rem;
    border: 1.5px solid rgb(var(--T-200));
    padding: 1.25rem;
    background: rgb(var(--L-200));
  }

  & h2 {
    font-size: 1.375rem;
    font-weight: 500;
  }

  & p {
    font-size: 0.875rem;
    font-weight: 400;
  }

  & .priceTag {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    font-size: 2.125rem;
    font-weight: 500;

    & > .currency {
      margin-top: 0.625rem;
      margin-right: 0.125rem;
      font-size: 0.75rem;
    }
  }

  & a {
    width: 100%;
  }

  & > table.tabletPackages {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;

    & > tbody > tr {
      text-align: left;

      &:first-of-type > th {
        border: none;
        background: none;
      }

      &:last-of-type {
        border-bottom: 1px solid rgb(var(--T-500));
      }

      &:nth-child(2) {
        vertical-align: top;

        & > td {
          border-top: 1px solid rgb(var(--T-500));
          border-left: 1px solid rgb(var(--T-500));
          border-right: 1px solid rgb(var(--T-500));
          padding: 2.875rem 1rem 1.5rem;

          & > p {
            min-height: calc((0.875rem * 1.5) * 6);
          }
        }
      }

      & > th {
        border: 1px solid rgb(var(--T-500));
        padding: 0.75rem 1rem;
        font-size: 0.875rem;
        font-weight: 500;
        text-align: center;
        background: rgb(var(--T-100));
      }

      &:nth-child(n+3) {
        & > td {
          border-left: 1px solid rgb(var(--T-500));
          border-right: 1px solid rgb(var(--T-500));
          
          padding: 0.75rem 1rem;
          font-size: 0.875rem;
          text-align: center;
          
          & > svg {
            width: 1.375rem;
            height: 1.375rem;
            margin: auto;
          }
        }
      }
    }
  }

  & > table.packages {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;

    & > tbody > tr {
      text-align: left;

      &:first-of-type {
        vertical-align: top;

        & > td {
          border-top: 1px solid rgb(var(--T-500));
          border-left: 1px solid rgb(var(--T-500));
          border-right: 1px solid rgb(var(--T-500));
          padding: 2.875rem 1rem 1.5rem;

          & > p {
            @media (min-width: 992px) and (max-width: 1199px) {
              min-height: calc((0.875rem * 1.5) * 5);
            }
        
            @media (min-width: 1200px) {
              min-height: calc((0.875rem * 1.5) * 4);
            }
          }

          & > .priceTag {
            margin-bottom: 2rem;
            display: flex;
            flex-direction: row;
            font-size: 2.125rem;
            font-weight: 500;

            & > .currency {
              margin-top: 0.625rem;
              margin-right: 0.125rem;
              font-size: 0.75rem;
            }
          }

          & > a {
            width: 100%;
          }
        }
      }

      & > th {
        padding: 0.75rem 1rem;
        font-size: 0.875rem;
        font-weight: 500;
      }

      &:not(:first-of-type) {
        & > td {
          border-left: 1px solid rgb(var(--T-500));
          border-right: 1px solid rgb(var(--T-500));
          padding: 0.75rem 1rem;
          font-size: 0.875rem;

          & > svg {
            width: 1.375rem;
            height: 1.375rem;
          }
        }
      }

      &:last-of-type > td {
        border-bottom: 1px solid rgb(var(--T-500));
      }

      &:nth-child(2n) > th,
      &:nth-child(2n) > td {
        background: rgb(var(--T-100));
      }
    }
  }
}