.wrapper {
  height: 100svh;
  margin-top: -7.125rem;
  padding-top: 7.125rem;
  background: rgb(var(--pear));
}

.center {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  & > p {
    margin-bottom: 2em;
  }
}