.wrapper {
  &:first-of-type {
    border-top: 1px solid rgb(var(--foreground));
  }

  &:last-of-type {
    border-bottom: 1px solid rgb(var(--foreground));
    margin-bottom: 5rem;
  }
  
  &:not(:last-child) {
    border-bottom: 1px solid rgb(var(--foreground));
  }

  & > button {
    cursor: pointer ;
    width: 100%;
    border: none;
    padding: 2.5rem 0;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    text-align: left;
    background: transparent;

    & > h3 {
      margin-bottom: 0;
      color: rgb(var(--foreground));
    }

    & > div {
      will-change: transform;
      min-width: 2rem;
      max-width: 2rem;
      min-height: 2rem;
      max-height: 2rem;
      position: relative;
      transition: var(--transition-background);

      & > span {
        position: absolute;
        background: rgb(var(--foreground));
        border-radius: 0.125rem;

        &:first-of-type {
          width: 0.1875rem;
          height: 100%;
          top: 0;
          left: calc(50% - 0.09375rem);
        }

        &:last-of-type {
          width: 100%;
          height: 0.1875rem;
          top: calc(50% - 0.09375rem);
          left: 0;
        }
      }

      &.open {
        transform: rotate(135deg);
      }
    }
  }

  & > div {
    will-change: grid-template-rows, opacity;
    display: grid;
    overflow: hidden; 
    transition: 
    grid-template-rows var(--transition-background),
    opacity var(--transition-background);

    &.open {
      grid-template-rows: 1fr;
      opacity: 1;
    }

    &.close {
      grid-template-rows: 0fr;
      opacity: 0;
    }

    & > .flex {
      overflow: hidden;
      display: flex;

      @media (min-width: 320px) and (max-width: 991px) {
        flex-direction: column;
      }

      @media (min-width: 992px) {
        flex-direction: row;
        gap: 5rem;
      }

      & > div {
        flex: 1;

        & > p {
          margin-bottom: 2.5em; 
        }

        & > ul[role="list"] {
          margin-bottom: 2.5em;
          padding: 0;
          list-style-type: none;
          font-family: var(--font-mono);
          font-size: 0.875rem;

          @media (min-width: 480px) {
            column-count: 2;
          }

          & > li {
            &:not(:last-of-type) {
              margin-bottom: 1em;
            }
          }
        }
      }
    }
  }
}