.wrapper {
  &:first-of-type {
    border-top: 1px solid rgb(var(--foreground));
  }

  &:last-of-type {
    border-bottom: 1px solid rgb(var(--foreground));
    margin-bottom: 6rem;
  }
  
  &:not(:last-child) {
    border-bottom: 1px solid rgb(var(--foreground));
  }

  & > button {
    cursor: pointer ;
    width: 100%;
    border: none;
    padding: 2.5rem 0;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    text-align: left;
    background: transparent;

    & > h3 {
      margin-bottom: 0;
      color: rgb(var(--foreground));
    }

    & > div {
      will-change: transform;
      width: 2rem;
      height: 2rem;
      position: relative;
      transition: var(--transition-background);

      & > span {
        position: absolute;
        background: rgb(var(--foreground));

        &:first-of-type {
          width: 0.125rem;
          height: 100%;
          top: 0;
          left: calc(50% - 1px);
        }

        &:last-of-type {
          width: 100%;
          height: 0.125rem;
          top: calc(50% - 1px);
          left: 0;
        }
      }

      &.open {
        transform: rotate(135deg);
      }
    }
  }

  & > div {
    will-change: grid-template-rows, opacity;
    display: grid;
    overflow: hidden; 
    transition: 
      grid-template-rows var(--transition-background),
      opacity var(--transition-background);

    &.open {
      grid-template-rows: 1fr;
      opacity: 1;
    }

    &.close {
      grid-template-rows: 0fr;
      opacity: 0;
    }

    & > div {
      overflow: hidden;

      & > p {
        margin-bottom: 2.5rem; 
      }
    }
  }
}