.wrapperMin {
  margin-top: 5rem;
  margin-bottom: 10rem;

  & > [role="doc-subtitle"]  {
    margin-bottom: 3rem;

    @media (min-width: 576px) {
      margin-left: 0.375rem;
    }

    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
  }
}

.wrapperMax {
  margin-top: 10rem;
  margin-bottom: 10rem;
}