.underline {
  position: relative;

  & > svg {
    position: absolute;
    bottom: 0; 
    left: 0;
    width: 100%;

    & > path {
      fill: none;
      stroke: rgb(var(--O-200-rgb));
      stroke-width: 24px;
      stroke-linecap: round;
    }
  }
}