$type-ratios: (
  "minorSecond": 1.067,
  "majorSecond": 1.125,
  "minorThird": 1.2,
  "majorThird": 1.25,
  "perfectFourth": 1.333,
  "augmentedFourth": 1.414,
  "perfectFifth": 1.5,
  "goldenRatio": 1.618
);

@function type-ratio($key) {
  @return map-get($type-ratios, $key);
}

$type-base-size: 1.125rem;
$type-size-ratio: type-ratio("goldenRatio");

$type-levels: 4, 3, 2, 1;

$type-styles: ();
$level-size: $type-base-size;
@each $level in $type-levels {
  $level-size: $level-size * $type-size-ratio;
  $type-styles: map-merge($type-styles, (#{"h"}$level: $level-size));
  h#{$level},
  .h#{$level} {
    font-size: $level-size;
    line-height: calc(2px + 2ex + 2px);
    margin-bottom: 0.65em;

    @if ($type-size-ratio > 1.2) {
      $level-unitless: $level-size / ($level-size * 0 + 1);
      $fluid-reduction: if($level-size > 4, 0.5, 0.33);
      $fluid-min: $level-unitless - ($fluid-reduction * $level-unitless);
      $fluid-min: if($fluid-min > $type-base-size, $fluid-min, 1);
      $fluid-scaler: ($level-unitless - $fluid-min) + 4vw;

      font-size: clamp(
        #{$fluid-min}rem,
        #{$fluid-scaler} + 1rem,
        #{$level-size}
      );
    }
  }
}

@function type-style($key) {
  @return map-get($type-styles, $key);
}

:root {
  --max-width: 1200px;
  --border-radius: 12px;

  --font: Brockmann, system-ui, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 40, 46, 5;
  --background-rgb: 247, 243, 212;

  --orange-rgb: 255, 98, 0;
  --drab-dark-brown-rgb: 40, 46, 5;
  --pear-rgb: 215, 236, 95;
  
  --O-500-rgb: 153, 59, 0;
  --O-400-rgb: 204, 78, 0;
  --O-300-rgb: 255, 129, 51;
  --O-200-rgb: 255, 161, 102;
  --O-100-rgb: 255, 192, 153;

  --D-500-rgb: 24, 28, 3;
  --D-400-rgb: 32, 37, 4;
  --D-300-rgb: 111, 129, 14;
  --D-200-rgb: 183, 211, 23;
  --D-100-rgb: 215, 237, 90;

  --P-500-rgb: 154, 178, 21;
  --P-400-rgb: 200, 229, 36;
  --P-300-rgb: 223, 240, 127;
  --P-200-rgb: 231, 244, 159;
  --P-100-rgb: 239, 248, 191;

  --hyperlink-rgb: 27, 84, 228;
  --hyperlink-hover-rgb: 19, 59, 160;
  --error-rgb: 189, 38, 15;

  --transition-background: 260ms ease;
  --transition-text: 130ms ease;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  background: rgb(var(--background-rgb));
  color: rgb(var(--foreground-rgb));
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font);
  font-size: $type-base-size;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

p, li, h1, h2, h3, h4 {
  word-break: break-word;
  margin-top: 0;
}

p, li {
  hyphens: auto;
}

p:not(:last-of-type) {
  margin-bottom: 2em;
}

code {
  font-family: var(--font-mono);
}

.container {
  @media (min-width: 320px) {
    max-width: 280px;
  }

  @media (min-width: 480px) {
    max-width: 440px;
  }

  @media (min-width: 576px) {
    max-width: 540px;
  }

  @media (min-width: 768px) {
    max-width: 720px;
  }

  @media (min-width: 992px) {
    max-width: 960px;
  }

  @media (min-width: 1200px) {
    max-width: 1140px;
  }

  width: 100%;
  margin: auto;
}

#root {
  isolation: isolate;
}