$type-ratios: (
  "minorSecond": 1.067,
  "majorSecond": 1.125,
  "minorThird": 1.2,
  "majorThird": 1.25,
  "perfectFourth": 1.333,
  "augmentedFourth": 1.414,
  "perfectFifth": 1.5,
  "goldenRatio": 1.618
);

@function type-ratio($key) {
  @return map-get($type-ratios, $key);
}

$type-base-size: 1.125rem;
$type-size-ratio: type-ratio("perfectFifth");

$type-levels: 4, 3, 2, 1;

$type-styles: ();
$level-size: $type-base-size;
@each $level in $type-levels {
  $level-size: $level-size * $type-size-ratio;
  $type-styles: map-merge($type-styles, (#{"h"}$level: $level-size));
  h#{$level},
  .h#{$level} {
    font-size: $level-size;
    line-height: calc(2px + 2ex + 2px);
    margin-bottom: 0.65em;

    @if ($type-size-ratio > 1.2) {
      $level-unitless: $level-size / ($level-size * 0 + 1);
      $fluid-reduction: if($level-size > 4, 0.5, 0.33);
      $fluid-min: $level-unitless - ($fluid-reduction * $level-unitless);
      $fluid-min: if($fluid-min > $type-base-size, $fluid-min, 1);
      $fluid-scaler: ($level-unitless - $fluid-min) + 4vw;

      font-size: clamp(
        #{$fluid-min}rem,
        #{$fluid-scaler} + 1rem,
        #{$level-size}
      );
    }
  }
}

@function type-style($key) {
  @return map-get($type-styles, $key);
}

:root {
  --max-width: 1200px;
  --border-radius: 12px;

  --font: Brockmann, system-ui, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
  --font-mono: Basier, ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground: 40, 46, 5;

  --orange: 255, 98, 0;
  --drab-dark-brown: 40, 46, 5;
  --pear: 215, 236, 95;
  
  --O-500: 153, 59, 0;
  --O-400: 204, 78, 0;
  --O-300: 255, 129, 51;
  --O-200: 255, 161, 102;
  --O-100: 255, 192, 153;

  --D-500: 24, 28, 3;
  --D-400: 32, 37, 4;
  --D-300: 111, 129, 14;
  --D-200: 183, 211, 23;
  --D-100: 215, 237, 90;

  --P-500: 154, 178, 21;
  --P-400: 200, 229, 36;
  --P-300: 223, 240, 127;
  --P-200: 231, 244, 159;
  --P-100: 239, 248, 191;

  --L-100: 255, 255, 255;
  --L-200: 253, 252, 244;
  --L-300: 251, 249, 233;
  --L-400: 249, 246, 223;
  --background: 247, 243, 212;
  --T-100: 234, 230, 203;
  --T-200: 221, 217, 193;
  --T-300: 207, 205, 184;
  --T-400: 194, 192, 175;
  --T-500: 181, 179, 165;
  --T-600: 168, 166, 156;
  --T-700: 154, 154, 147;
  --T-800: 141, 141, 137;
  --T-900: 128, 128, 128;

  --hyperlink: 27, 84, 228;
  --hyperlink-hover: 19, 59, 160;
  --error: 189, 38, 15;

  --transition-background: 260ms ease;
  --transition-text: 130ms ease;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  background: rgb(var(--background));
  color: rgb(var(--foreground));
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font);
  font-size: $type-base-size;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
  width: 0.75rem;
}
::-webkit-scrollbar-track {
  border: solid 0.125rem transparent;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0.5rem 0.5rem rgb(var(--T-600));
  border-radius: 0.25rem;
  border: 0.125rem solid transparent;

  &:hover {
    box-shadow: inset 0 0 0.5rem 0.5rem rgb(var(--T-800));
  }
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

p, li, h1, h2, h3, h4, h5, h6 {
  word-break: break-word;
  margin-top: 0;
}

ul[role="list"] {
  margin-bottom: 2em;
}

p.large {
  font-size: calc(1em * 2);
}

p:not(:last-child) {
  margin-bottom: 2em;
}

strong {
  font-weight: 600;
}

small {
  font-size: 0.875rem;
}

blockquote {
  margin-bottom: 2em;
  padding-left: 1em;
  position: relative;
  font-style: italic;
  
  &::after {
    width: 2px;
    height: 100%;
    border-radius: 1px;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background: rgb(var(--orange));
  }
}

code {
  font-family: var(--font-mono);
}

.space {
  @media (min-width: 320px) {
    max-width: 280px;
  }

  @media (min-width: 480px) {
    max-width: 440px;
  }

  @media (min-width: 576px) {
    max-width: 540px;
  }

  @media (min-width: 768px) {
    max-width: 720px;
  }

  @media (min-width: 992px) {
    max-width: 960px;
  }

  @media (min-width: 1200px) {
    max-width: 1140px;
  }

  width: 100%;
  margin-left: auto !important;
  margin-right: auto !important;
}

#root {
  isolation: isolate;
}

.screenReaderVisible {
  width: 1px !important;
  height: 1px !important;
  border: 0 !important;
  padding: 0 !important;
  position: absolute !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  overflow: hidden !important;
  white-space: nowrap !important;
}