.wrapper {
  max-width: 40rem;
  margin-top: 10rem;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  
  & .required {
    margin-left: 0.25rem;
    color: rgb(var(--error));
  }

  & > input[type=submit] {
    width: fit-content;
    touch-action: manipulation;
    cursor: pointer;
    padding: 0.75rem 1.5rem;
    display: inline-block;
    border: 2px solid rgb(var(--drab-dark-brown));
    border-radius: 0.25rem;
    background: rgb(var(--background));
    box-shadow: rgb(var(--drab-dark-brown)) 0.25rem 0.25rem 0 0;
    color: rgb(var(--drab-dark-brown));
    text-decoration: none;
    font-weight: 600;
    text-align: center;
    transition: var(--transition-text);

    &:hover {
      background: rgb(var(--P-100));
    }

    &:active {
      box-shadow: rgb(var(--drab-dark-brown)) 0.125rem 0.125rem 0 0;
      transform: translate(0.125rem, 0.125rem);
    }
  }
}

.fieldContainer {
  display: grid;

  @media (min-width: 576px) {
    grid-template-columns: repeat(2, 1fr);
  }

  grid-gap: 2rem;
}

.field {
  display: flex;
  flex-direction: column;

  & > label {
    margin-bottom: 0.25rem;
    font-size: 16px;
    font-weight: 500;
  }

  & > input,
  & > textarea {
    will-change: border;
    border: 1.5px solid transparent;
    border-radius: 0.25rem;
    padding: 0.75em 1.125em;
    background: rgb(var(--T-100));
    transition: var(--transition-background);

    &::placeholder {
      color: rgb(var(--T-600));
    }

    &:hover {
      border: 1.5px solid rgb(var(--T-400));
    }
  }
}