.parent {
  background: rgb(var(--foreground-rgb));

  > .footer {
    > .fullWidth {
      height: 7.125rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      // &:first-child {
      //   border-bottom: 1px solid rgb(var(--background-rgb), 0.1);
      // }

      > svg {
        min-width: 11rem;
        max-width: 11rem;
        height: 100%;
  
        > path {
          fill: rgb(var(--background-rgb));
        }
      }

      .btn {
        width: fit-content;
        height: fit-content;
        border: 2px solid rgb(var(--P-400-rgb));
        border-radius: 0.25rem;
        padding: 1rem 1.5rem;
        display: flex;
        align-items: center;
        gap: 0.25rem;
        background: rgb(var(--pear-rgb));
        text-decoration: none;
        font-size: 1.25rem;
        font-weight: 600;
        color: rgb(var(--foreground-rgb));
        transition: var(--transition-background);

        > svg {
          min-width: 30px;
          max-width: 30px;
          min-height: 30px;
          max-height: 30px;
          fill: rgb(var(--foreground-rgb));
          transition: var(--transition-text);
        }

        &:hover {
          border: 2px solid rgb(var(--pear-rgb));
          background: rgb(var(--P-200-rgb));

          > svg {
            transform: translateX(0.25rem);
          }
        }
      }

      > ul {
        padding: 0;
        display: flex;
        gap: 2.25rem;
        list-style-type: none;

        &:first-child li:first-child {
          padding: 0.5rem 0;
        }

        > li {
          color: rgb(var(--background-rgb));
          font-size: 0.875rem;
          font-weight: 500;

          > a {
            padding: 0.5rem 0;
            display: inline-block;
            position: relative;
            text-decoration: none;
            color: rgb(var(--background-rgb));
            font-size: 0.875rem;
            font-weight: 500;
            transition: var(--transition-text);
  
            &::after {
              width: 100%;
              height: 1.5px;
              transform: scaleX(0);
              transform-origin: bottom right;
              position: absolute;
              content: "";
              bottom: 0;
              left: 0;
              background-color: rgb(var(--background-rgb));
              transition: transform var(--transition-background);
            }
  
            &:hover {
              color: rgb(var(--pear-rgb));
  
              &::after {
                transform: scaleX(1);
                transform-origin: bottom left;
                background: rgb(var(--pear-rgb));
              }
            }
          }
        }
      }
    }
  }
}