.hyperlink {
  width: fit-content;
  height: fit-content;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  position: relative;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 600;
  color: rgb(var(--hyperlink-rgb));

  &::after {
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transform-origin: bottom right;
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    background: rgb(var(--hyperlink-rgb));
    transition: transform var(--transition-background);
  }

  &:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
    background: rgb(var(--hyperlink-hover-rgb));
  }
  
  &, svg { 
    transition: var(--transition-text);
  }

  &:hover {
    color: rgb(var(--hyperlink-hover-rgb));

    > svg {
      transform: translateX(0.25rem);
      fill: rgb(var(--hyperlink-hover-rgb));
    }
  }

  > svg {
    min-width: 30px;
    max-width: 30px;
    min-height: 30px;
    max-height: 30px;
    fill: rgb(var(--hyperlink-rgb));
    
  }
}