.wrapper {
  margin-top: 10rem;
  margin-bottom: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  & > .box {
    max-width: 58rem;


  }

  & > p {
    max-width: 35rem;
  }
}